<mat-form-field class="example-full-width">
  <input type="text" placeholder="Start typing" aria-label="Number" matInput name="autocompleteString"
    [formControl]="autocompleteFormControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="selectOption($event)">
      @for (option of cities; track option) {
      <mat-option [value]="option">{{option.name}}</mat-option>
      }
    </mat-autocomplete>
</mat-form-field>

<button mat-flat-button [disabled]="!selectedCity" (click)="emitSearchByCityClicked()">Search</button>