<div class="flex justify-around">
    <app-city-search class="w-1/2" [cities]="cities$ | async" (searchTermChanged)="onSearchTermChanged($event)"
        (searchByCityClicked)="onSearchByCityClicked($event)"></app-city-search>
</div>

<div class="p-4">
@if(selectedCity && weatherData$ | async; as weatherData) {
<app-city-info [city]="selectedCity" [weather]="weatherData"
    (addToFavouritesClicked)="addOrRemoveFromFavourites(selectedCity)"></app-city-info>
} @else {
    No city selected
}
</div>

<div class="p-4 mt-40">
    <div class="flex justify-between w-3/4">
        <h4>
            Favourites cities:
        </h4>
        <h5 (click)="sortFavs()">
            Sort by {{sortDirection}}
        </h5>
    </div>
    @if(favouriteCitiesWeather$| async; as favouriteCitiesWeather) {
        @if(favouriteCitiesWeather.length) {
            <div class="grid grid-cols-4 gap-4">
                @for(fav of favouriteCitiesWeather; track $index) {
                    <app-favourite-city-card [favCity]="fav" (cardClicked)="setSelectedCity($event)" (removeFromFavourites)="addOrRemoveFromFavourites($event)"></app-favourite-city-card>
                    }
            </div>
        } @else {
            No favourites cities found
        }
    }

</div>