<app-city-search [cities]="cities$ | async" (searchTermChanged)="onSearchTermChanged($event)"
    (searchByCityClicked)="onSearchByCityClicked($event)"></app-city-search>

@if(selectedCity && weatherData$ | async; as weatherData) {
<app-city-info [city]="selectedCity" [weather]="weatherData" (addToFavouritesClicked)="addOrRemoveFromFavourites(selectedCity)"></app-city-info>
}

<div>
    @for(fav of favouriteCitiesWeather$| async; track $index) {
        <app-favourite-city-card [favCity]="fav"></app-favourite-city-card> <br/>
    } 
</div>