<div class="mb-8">
    <div class="flex justify-between w-3/4 items-baseline">
        <h1>
            {{city?.name}}
            @if(!city.isFavourite) {
                <span (click)="addToFavouritesClicked.emit()" class="material-symbols-outlined text-black hover:text-indigo-500  cursor-pointer">
                    favorite
                </span>
            } @else {
                <button (click)="addToFavouritesClicked.emit()" mat-flat-button><mat-icon fontIcon="favorite" class="text-indigo-500"></mat-icon></button>

            }
        </h1>
        <h3>
            {{deducedWeather}}
        </h3>
    </div>
    <hr class="w-3/4" />
</div>

<div class="flex justify-around">
    <div>
        
        <h4>{{formattedLocationData}}</h4>
        <h5>Lat.: {{city.latitude}}°, Long.: {{city.longitude}}°, {{city.elevation}} m above mean sea level</h5>
        <p>
            Local time: {{weatherData.current.time | date: 'HH:mm dd/MM/yyyy'}}, {{weatherData.timezone}}
        </p>
        <p>
            Temperature: {{weatherData.current.temperature_2m}}{{weatherData.current_units.temperature_2m}},
            Percieved: {{weatherData.current.apparent_temperature}}{{weatherData.current_units.apparent_temperature}},
            Humidity: {{weatherData.current.relative_humidity_2m}}{{weatherData.current_units.relative_humidity_2m}}
        </p>
        <p>
            {{getFormattedOptionalWeatherData('precipitation')}}
            {{getFormattedOptionalWeatherData('rain')}}
            {{getFormattedOptionalWeatherData('showers')}}
            {{getFormattedOptionalWeatherData('rain')}}
            {{getFormattedOptionalWeatherData('snowfall')}}
        </p>
        <p>
            Wind speed: {{weatherData.current.wind_speed_10m}}{{weatherData.current_units.wind_speed_10m}}
            {{weatherData.current.wind_direction_10m}} {{weatherData.current_units.wind_direction_10m}}
        </p>
    
    
    </div>
    @if(forecastChartData.length) {
        <ngx-charts-line-chart 
            [results]="forecastChartData"
            [view]="chartSize"
            [legend]="legend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="xAxis"
            [yAxis]="yAxis"
            [timeline]="timeline"
        ></ngx-charts-line-chart>
    }    
</div>

